<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Home page">
    <form action="/login" method="POST">
        <span>${i18n("系統登入")}</span>
        <br><br>
        <span>${i18n("帳號")}</span>
        <input id="username" name="username" type="TEXT"/>
        <br><br>
        <span>${i18n("密碼")}</span>
        <input id="password" name="password" type="PASSWORD"/>
        <br><br>
        <input type="submit" value="${i18n('登入')}"/>
    </form>
    <#list validation.violations as violation>
        ${i18n(violation)}
    </#list>
</@layout.myLayout>
