<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Error. Forbidden.">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        Oops!</h1>
                    <h2>
                        403 Forbidden</h2>
                    <div class="error-details">
                        Sorry, an error has occured. Requested page is forbidden!
                    </div>
                </div>
            </div>
        </div>
    </div>
</@layout.myLayout>
