<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Home page">
    <span>${i18n("首頁")}</span>
    <br>
    <span>${i18n("使用者")}：${(userId)!}</span>
    <br>
    <span>${i18n("登入時間")}：${(loginTime)!}</span>
</@layout.myLayout>
