<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!--<div class="navbar-header">-->
        <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->
        <!--<span class="icon-bar"></span> -->
        <!--<span class="icon-bar"></span> -->
        <!--<span class="icon-bar"></span>-->
        <!--</button>-->
        <!--<a class="navbar-brand" href="/">${i18n("header.title")}</a>-->
        <!--</div>-->
        <!--<div class="navbar-collapse collapse">-->
        <!--<ul class="nav navbar-nav">-->
        <!--<li class="active"><a href="/">${i18n("header.home")}</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--/.navbar-collapse -->
    </div>
</div>
I am Header
<hr>
